@font-face {
font-family: 'Daehan';
font-style: normal;
font-weight: 400;
src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}

@font-face {
font-family: 'Daehan';
font-style: normal;
font-weight: 700;
src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanB.woff') format('woff');
}
  

.normal {
font-style: normal;
}

.w250 {
font-weight: 250;
}

.w300 {
font-weight: 300;
}

.w350 {
font-weight: 350;
}

.w400 {
font-weight: 400;
}

.w500 {
font-weight: 500;
}

.w700 {
font-weight: 700;
}

.w800 {
font-weight: 800;
}

.w900 {
font-weight: 900;
}

li span {
line-height: 1.8;
font-size: 1.3em;
}