@charset "utf-8";


#map {
    height: 100%;
    width: 100%;
}

.waypoint-galarry {
    overflow: hidden;
    overflow-x: scroll;
}

.waypoint-galarry .galarry-images{
    width: max-content;
}

.waypoint-galarry .galarry-images .img-container {
    display: inline-block;
    height: 250px;
}

.waypoint-galarry .galarry-images .img-container img {
    width: auto;
    height: 100%;
}

@media (max-width: 767px){

    .journey-map{
        position: static;
        height: 400px;
        width: 100%;
    }
    
    .journey-contents{
        position: static;
        height: 100%;
        width: 100%;
        padding-left:1em;
        padding-right: 1em;
        margin-bottom: 5em;
    }

}